# Python & Caches
__pycache__/
*.py[cod]
*$py.class
.venv/
.uv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers temporaires OS
.DS_Store
*.log

.env
.venv/
vectorstore/
__pycache__/
*.pyc
